@import "compass/css3/opacity";

// Colors
$cWhite:                 #FFFFFF;
$cGray5:                 #F1F1F1;
$cGray4:                 #CCCCCC;
$cGray3:                 #999999;
$cGray2:                 #666666;
$cGray1:                 #333333;
$cGray0:                 #000000;

// Sprites
$icons-bullet-orange-spacing: 25px;
$icons-bullet-yellow-spacing: 25px;
$icons-bullet-black-spacing:  25px;
$icons-pause-spacing:         35px;
$icons-pause_hover-spacing:   35px;
$icons-pause_active-spacing:  35px;
$icons-play-spacing:          25px;
$icons-play_hover-spacing:    25px;
$icons-play_active-spacing:   25px;

@import "icons/*.png"; /**/

// Mixins
@mixin size($width, $height:$width) {

  @if $width  != false { width:  $width; }
  @if $height != false { height: $height; }

}

@mixin position($top, $right, $bottom, $left) {

  position: absolute;

  @if $top    != false { top:    $top; }
  @if $right  != false { right:  $right; }
  @if $bottom != false { bottom: $bottom; }
  @if $left   != false { left:   $left; }

}

@mixin absolute-vertical-center($width) {
  position:absolute;
  left:50%;
  width: $width;
  margin-left: -1*$width / 2;
}

@mixin absolute-center($width, $height) {
  position:absolute;
  left:50%;
  top: 50%;
  margin-left: -1*$width / 2;
  margin-top:  -1*$height / 2;
  width: $width;
  height: $height;
}

@mixin clearfix() {
  & { *zoom: 1; }
  &:before, &:after { content: ""; display: table; }
  &:after { clear: both; }
}

// Animations
@-webkit-keyframes fadeIn { from { @include opacity(0); } 50%  { opacity: 0.5; } to { @include opacity(1); } }
@-moz-keyframes    fadeIn { from { @include opacity(0); } 50%  { opacity: 0.5; } to { @include opacity(1); } }
@-o-keyframes      fadeIn { from { @include opacity(0); } 50%  { opacity: 0.5; } to { @include opacity(1); } }
@keyframes         fadeIn { from { @include opacity(0); } 50%  { opacity: 0.5; } to { @include opacity(1); } }

@-webkit-keyframes fadeOut { from { @include opacity(1); } 50%  { opacity: 0.5; } to { @include opacity(0); } }
@-moz-keyframes    fadeOut { from { @include opacity(1); } 50%  { opacity: 0.5; } to { @include opacity(0); } }
@-o-keyframes      fadeOut { from { @include opacity(1); } 50%  { opacity: 0.5; } to { @include opacity(0); } }
@keyframes         fadeOut { from { @include opacity(1); } 50%  { opacity: 0.5; } to { @include opacity(0); } }

.slowFadeIn {
  -webkit-animation: fadeIn 500ms ease-in-out 1500ms;
  -moz-animation:    fadeIn 500ms ease-in-out 1500ms;
  -o-animation:      fadeIn 500ms ease-in-out 1500ms;
  animation:         fadeIn 500ms ease-in-out 1500ms;

  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.fadeIn {
  -webkit-animation: fadeIn 500ms ease-in-out 500ms;
  -moz-animation:    fadeIn 500ms ease-in-out 500ms;
  -o-animation:      fadeIn 500ms ease-in-out 500ms;
  animation:         fadeIn 500ms ease-in-out 500ms;

  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.fadeOut {
  -webkit-animation: fadeOut 200ms ease-in-out;
  -moz-animation:    fadeOut 200ms ease-in-out;
  -o-animation:      fadeOut 200ms ease-in-out;
  animation:         fadeOut 200ms ease-in-out;

  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

// ie hacks
.lt-ie10 {

  .cartodb_logo, aside, #graph, #progress, #counters {
    @include opacity(0);
  }

  .cartodb_logo, aside, #graph, #spinner, #progress, #counters {

    &.fadeIn, &.slowFadeIn {
      @include opacity(1);
    }

    &.fadeOut {
      @include opacity(0);
    }
  }
}
